/* MY COLORS 
    #F2EDE4 light beige 
    #D9C9BA lightest brown 
    #A68F7B brown 
    #5C3F35 dark brown 
    #732222 red 
*/


body {
    color: black;
    letter-spacing: 1px;
}

#createAccLink, #forgotPassLink {
    text-decoration: none;
    color: black;
}

#createAccLink:hover, #forgotPassLink:hover {
    color: #B3746F;
    text-decoration: none;
}

#loginBtn:hover, #registerBtn:hover, #getQuestionBtn:hover, #updatePassBtn:hover, #searchBtn:hover, #addNewGoalBtn:hover, #updateGoalBtn:hover, #addNewShelfBtn:hover, #logOutBtn:hover, #rateBook:hover, #finishBookBtn:hover, #addProfilePicture:hover, .addToShelfBtn:hover  {
	background-color: #D9C9BA;
	color: #5C3F35;
}

.listBookTitleDisplayShelf {
    /*padding: 0px 20px 0px 20px;*/
    font-weight: 400;
}

.listTitleHome, .listTitleShelf {
	padding: 0px 20px 0px 20px;
    font-weight: 400;
    font-size: 1.3rem;
}

#leftColShelves {
	margin-right: 80px;
}

.listNumBooksShelf, .listNumBooksHome {
	font-weight: 300;
    font-size: 1.3rem;
}

.listBookAuthorDisplayShelf {
    /*padding-right: 20px;*/
    font-weight: 300;
}
.listBookRatingDisplayShelf {
    font-style: italic;
    font-weight: 300;
}

.listItemDisplayShelf {
	font-size: 1.1rem;
	letter-spacing: 1px;
	border-bottom: 1px solid gainsboro;
	padding: 20px 10px 20px 10px;
	
}

.card-title, .chartTitle {
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.chartTitle {
    padding-bottom: 10px;
}

#newGoalBtn:hover, #updateProgBtn:hover, #newGoalDropdown:hover, #updateCurrentBookBtn:hover, .setAsCurrentBook:hover {
	color: #D9C9BA;
    background-color: #5C3F35;
}

#newGoalBtn, #updateProgBtn, #newGoalDropdown, #updateCurrentBookBtn, .addToShelfBtn, .setAsCurrentBook {
    color: #5C3F35;
    background-color: #D9C9BA;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
}

#newShelfName {
	margin-top: 1.5rem;
}

.addToShelfBtn, .setCurrentReadBtn {
	margin: 0.5rem;
	border-radius: 0.5rem;
}

.thumbnail {
	margin: 1.2rem;
	text-align: center;
	margin-bottom: 2rem;
}

nav {
    color: #5C3F35;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.navbar-nav li {
	padding-left: 2em;
}

.navbar-brand {
	color: black;
	font-size: 2rem;
	letter-spacing: 1px;
	font-weight: 200;
	
}
/*search bar*/
input.form-control { 
    width: 300px;
    color: #5C3F35;
    font-size: 1rem;
    letter-spacing: 1px;
} 

input.form-control:focus { 
    border-color: #5C3F35;
    outline: 0;
    -webkit-box-shadow: 1px 1px 1px 1px #5C3F35; 
    box-shadow: 1px 1px 1px 0px #5C3F35; 
} 

#searchBtn, #registerBtn, #loginBtn, #logOutBtn, #updatePassBtn, #getQuestionBtn, #finishBookBtn, #addNewGoalBtn, #updateGoalBtn, #addNewShelfBtn, #rateBook, #addProfilePicture, .addToShelfBtn {
    color: #F2EDE4;
    background-color: #5C3F35;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
}

.setAsCurrentBook {
	background-color: #F2EDE4;
    color: #5C3F35;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
    font-size: 0.7rem;
    margin: 0px 10px 0px 10px;
    align-items: right;
}

#accountCard {
    color: black;
    line-height: 2.2rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 20px;
    margin-left: 50px;
}

.accInfo {
	font-weight: 300;
}

#profilePic {
    max-width: 250px;
    max-height: 250px;
    border-radius: 1rem;
    margin: 20px;
}

/*
#logOutBtn {
    margin-top: 2rem;
    margin-left: 40%;
    margin-right: 40%;
}
*/
.progress-bar {
    background-color: #B3746F;
}


canvas {
    letter-spacing: 1px;
    font-size: 1rem;
}

.custom-select {	
	position: relative;
	font-weight: 600;
	padding: 0.6rem;
	border-radius: 0.5em;
	border: none;
	letter-spacing: 1px;
	text-align: center;
}

select {
	appearance: none;
	-webkit-appearance: none;
	font-size: 1rem;
	background-color: #D9C9BA;
	color: #5C3F35;
	letter-spacing: 1px;
}

.goalTypeLabel, #bookGenre {
	font-weight: 500;
	font-size: 1rem;
}

#readingStats {
	line-height: 2.5em;
	font-size: 1.1em;
}

#readingStats li {
	background-size: 50px;
	list-style: none;
	margin: 15px;
	padding-left: 60px;
	background-image: url('./images/openbook.png');
	background-repeat: no-repeat;
    background-position: left center;
}

#progressRow li {
	background-size: 30px;
	list-style: none;
	margin: 15px;
	padding-left: 60px;
	background-image: url('./images/openbook.png');
	background-repeat: no-repeat;
    background-position: left center;
}

#currentReadProg {
	margin: 10px 0px 10px 0px;
}

#updateGoalBtn, #addNewGoalBtn {
	line-height: 1.8rem;
}

#goalMonthRow {
	margin-bottom: 100px;
}

#updateCurrentRead {
	margin-bottom: 20px;
	width: 200px;
	margin-right: 20px;
}

#finishBookBtn, #rateBook {
	margin-bottom: 20px;
}

#reviewTitle {
	text-align: center;
	font-weight: 500;
	font-size: 1.5em;
}

#bookRating {
	margin-bottom: 20px;
}

input[type="radio"] {
	font-size: 1.1rem;
	font-weight: 400;
}

#rateBookForm {
	letter-spacing: 1px;
}

#forgotSecQuestion {
	font-weight: 500;
	text-align: center;
}

input[type=file]::file-selector-button {
  border: none;
  background: #D9C9BA;
  color: #5C3F35;
}

input[type=file]::file-selector-button:hover {
  background: #5C3F35;
  color: #D9C9BA;
}









