<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BookWebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoal</display-name>
    <servlet-name>AddGoal</servlet-name>
    <servlet-class>AddGoal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoal</servlet-name>
    <url-pattern>/AddGoal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShelf</display-name>
    <servlet-name>AddShelf</servlet-name>
    <servlet-class>AddShelf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShelf</servlet-name>
    <url-pattern>/AddShelf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutUser</display-name>
    <servlet-name>LogOutUser</servlet-name>
    <servlet-class>LogOutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutUser</servlet-name>
    <url-pattern>/LogOutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
</web-app>